@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: #fffeb7;
}

body {
    overflow: hidden;
    background-color: #131313;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.links {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

button {
    border: none;
    width: 100px;
    border-radius: 110px;
    background: #4b4b4b;
    cursor: pointer;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 120vh;
}

.container-img img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 350px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 10px solid; /* Define a largura da borda */
    background-color: rgb(255,254,183);
    border-image: linear-gradient(221deg, rgba(255,254,183,1) 0%, rgba(253,187,45,1) 100%);;
}

.container {
    padding: 40px;
    margin-top: 60px;
}

.p1 {
    color: #fff;
}

.p2 {
    font-size: 50px;
}

.p3 {
    color: #fff;
}

.p4 {
    color: #fff;
}

.contatos {
    display: flex;
}

.contatos img {
    width: 40px;
    height: 40px;
    border: none;
}

